.DS_Store
/android/obj
/packages/curl
/packages/pcre2/pcre2-10.20.tar.gz
/packages/pcre2/pcre2-10.20/
/packages/libssh2/src-mingw
/packages/libssh2/workspace
/packages/libssh2/ios/workspace
/packages/libssh2/ios/ios9.3-arm64
/packages/libssh2/ios/ios9.3-armv7
/packages/libssh2/ios/ios9.3-armv7s
/packages/libssh2/ios/ios9.3-i386
/packages/libssh2/ios/ios9.3-x86_64
/packages/openssl/linux
/packages/openssl/android/workspace/
/packages/openssl/android/source/obj/
/packages/openssl/ios/workspace
/packages/openssl/ios/ios9.3-arm64
/packages/openssl/ios/ios9.3-armv7
/packages/openssl/ios/ios9.3-armv7s
/packages/openssl/ios/ios9.3-i386
/packages/openssl/ios/ios9.3-x86_64
/packages/openssl/ios/OpenSSL-for-iPhone
/packages/openssl/workspace
/packages/openssl/windows/
/packages/openssl/workspace.removed/
/lib/fscore-removed
/include/dframework/fscore-removed
/xcode-workspace-ios/packages/__MACOSX/
/packages/openssl/openssl-android-build/
