.DS_Store
/android/obj
/packages/curl
/packages/openssl/ios/OpenSSL-for-iPhone
/packages/openssl/workspace
/packages/libssh2/src-mingw
/packages/libssh2/workspace
/packages/libssh2/ios/workspace
/packages/libssh2/ios/ios9.3-arm64
/packages/libssh2/ios/ios9.3-armv7
/packages/libssh2/ios/ios9.3-armv7s
/packages/libssh2/ios/ios9.3-i386
/packages/libssh2/ios/ios9.3-x86_64
/packages/openssl/linux
/packages/openssl/android/arm64/
/packages/openssl/android/armv7/
/packages/openssl/android/x86/
/packages/openssl/android/x86_64/
/packages/openssl/android/workspace/
/packages/openssl/android/source/obj/
/packages/openssl/ios/workspace
/packages/openssl/ios/ios9.3-arm64
/packages/openssl/ios/ios9.3-armv7
/packages/openssl/ios/ios9.3-armv7s
/packages/openssl/ios/ios9.3-i386
/packages/openssl/ios/ios9.3-x86_64
/lib/fscore-removed
/include/dframework/fscore-removed

